<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
</head>
<body>
<h1>APPLY</h1>

<nav>
    <ul>
        <li><a href="/index">INDEX</a></li>
        <li><a href="/apply">APPLY</a></li>
    </ul>
</nav>

</body>
</html>