<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<h1>Log in</h1>
<p>Bitte melden Sie sich an. Existiert der eingegebene Nutzer nicht, so wird er mit dem zugehörigen Passwort erstellt.</p>

<form action="/login" method="post">
    <label for="fusr">Nutzername</label>
    <input type="text" name="fuser" id="fusr">
    <br>
    <label for="fpsw">Passwort</label>
    <input type="password" name="fpass" id="fpsw">
    <input type="submit" value = "Anmelden">
</form>

</body>
</html>