<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
<h1>INDEX</h1>

<nav>
    <ul>
        <li><a href="/index">INDEX</a></li>
        <li><a href="/apply">APPLY</a></li>
    </ul>
</nav>

<form action="/apply" method="post">
    <label for="fnm">First name</label>
    <input type="text" name="fname" id="fnm">
    <input type="submit">
</form>

</body>
</html>