<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
<h1>INDEX</h1>

<nav>
    <ul>
        <li><a href="/index">INDEX</a></li>
        <li><a href="/apply">APPLY</a></li>
    </ul>
</nav>

<form action="/login" method="post">
    <label for="fusr">Nutzername</label>
    <input type="text" name="fuser" id="fusr">
    <br>
    <label for="fpsw">Passwort</label>
    <input type="password" name="fpass" id="fpsw">
    <input type="submit" value = "Anmelden">
</form>

</body>
</html>